.imgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.successImg {
  width: 80px;
  height: 80px;
}

.titleError {
  font-weight: 600;
  font-size: 24px;
  color: #111111;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  // border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  width: 1020px;
}

.pC {
  color: #666666;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
}

.no-matches {
  margin-bottom: 20px;

  p {
    font-weight: bold;
    // color: #d9534f;
  }

  ul {
    margin-bottom: 20px;

    li {
      color: #333;
      margin-left: 20px;
    }
  }
}

.right {
  flex: 2;
  padding: 60px;
  background: #f4f4f4;

  .title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-item {
    margin-bottom: 10px;

    .ant-input-outlined:hover {
      border-color: #3F86FF !important;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      // padding: 8px;
      // border-bottom: 1px solid #3F86FF;
      border-radius: 4px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;

    }

    input:hover {
      border-color: #3F86FF !important;
      box-shadow: unset;
    }

    input:focus {
      border-color: #3F86FF !important;
      box-shadow: unset;
    }
  }

  .inp {
    :global {
      .ant-input-outlined:focus {
        border-color: unset;
        box-shadow: unset;
      }

      .ant-input-outlined:focus-within {
        box-shadow: unset !important;
        border-color: #3F86FF;
      }

      .ant-input-outlined:hover {
        border-color: #3F86FF;
      }

      .ant-input-outlined:focus-within {
        border-color: #3F86FF;
        box-shadow: none;
      }

      .ant-input-outlined:focus {
        border-color: #3F86FF;
        box-shadow: none;
      }

      .ant-input-outlined:hover {
        border-color: #3F86FF !important;
      }
    }
  }

  .submit-btn {
    width: 100%;
    height: 40px;
    background: #333333;
    opacity: 1;
    background-color: #3F86FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-top: 32px;

  }

  .submit-btn:hover {
    opacity: 1;

  }
}

.disable {
  background-color: #777C7F !important;
}

.error {
  color: red !important;
}