.myLogo {
    display: block;
    // margin: 0 auto;

}

.dropdown {
    :global {
        .ant-dropdown {
            width: 500px;
        }
    }
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixHeader {
    background-color: rgba(255, 255, 255, 1) !important;
    color: rgba(0, 0, 0, 1) !important;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myHeader {
    width: 1020px;
    display: flex;
    justify-content: space-around;
}

.changeLeft {
    display: flex;
    height: 64px;
    line-height: 64px;
    justify-content: center;
    align-items: center;
}

.changeRight {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    min-width: 550px;
}




.noLine {
    display: flex;
    align-items: center;
}

.noLine a:not(:last-child) {
    margin-right: 30px;
}

.LineLink {
    color: #666D74;
    position: relative;
}

.LineLink::after {
    background-color: #3F86FF;
    bottom: 18px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width .33s linear;
    width: 0%;
}

.LineLink:hover::after {
    width: 100%;
}

.LineLink:hover {
    color: #232D37;

}

.active {
    color: #3F86FF;
}

.active:hover {
    color: #3F86FF;
}



.i18n {
    cursor: pointer;
    color: #000;
    margin-left: 30px;
    // margin-left: 240px;
}

.i18n:hover {
    color: #000;
}


.download {
    display: flex;
    background: #fff;
    padding: 10px 20px;
    justify-content: center;
    transform: translateY(-5px);
}

.downloadCol {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
    text-align: center;
}

.downloadColBd {
    padding: 10px;
    background: #ECF2EE;
}

.downloadColRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.downloadColRightBd {
    padding: 10px;
    background: #ECF2EE;
}

.download-btn {
    margin-left: 30px;
}

.myContent {
    position: relative;
    margin-top: 64px;
}